html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffff;
  background-color: #f8f8f8;
}

.navbar-nav {
    line-height: 70px;
    height: 100px;
    padding-top: 0;
}

#headerRow {
    padding-bottom: 10px;
}

.timeCombobox {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
}

#timeCombobox2 {
    padding-left: 10px;
    padding-top: 23px;
    padding-right: 0px;
}

#bookTicketButton {
    margin-top: 100px;
}

#PopularRoutesHeading {
    margin-bottom: 20px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.ticketBookMoney {
    padding-right: 5%;
}

#total {
    margin-top: 0px;
}

.emailRadioButton {
    padding-top: 30px;
}

.emailParagraph {
    padding-top: 30px;
}
